In [1]:
# SQLITE3

# The Python sqlite3 module provides an interface for interacting with SQLite databases, which are lightweight, serverless, and self-contained. 
# This module allows you to effortlessly create, manage, and query SQLite databases from Python code.

In [2]:
import sqlite3

In [3]:
# Using Normal method


# connection=sqlite3.connect("akshay.db")
# cursor=connection.cursor()
# command1="CREATE TABLE AKKIN (ID NUMBER,SUBJECT VARCHAR(15),MARKS NUMBER)"
# cursor.execute(command1)

In [4]:
# using with keyword in python 
# So, you donâ€™t need to manually call conn.close() in most cases.

import sqlite3
with sqlite3.connect("akshay.db") as connection:
    cursor=connection.cursor()
    cursor.execute("Create table data(id number primary key,name text)")    #Creating a table
    cursor.execute("Insert into data values(02,'Akshay')")                  #Inserting a values into a created table
    connection.commit()

In [5]:
with sqlite3.connect("akshay.db") as connection:
    cursor=connection.cursor()
    cursor.execute("select * from data")
    rows=cursor.fetchall()                       #To see the created table
    print(rows)

[(2, 'Akshay')]

In [6]:
# using pandas to see the results more precisely
import sqlite3
import pandas as pd

with sqlite3.connect("akshay.db") as connection:
    df=pd.read_sql("select * from data",connection)
df

   id    name
0   2  Akshay

In [7]:
import sqlite3
import pandas as pd
with sqlite3.connect("akshay.db") as connection:
    df=pd.read_sql("select * from data",connection)